@import "tailwindcss";

:root {
  font-family: 'Satoshi', sans-serif;
  background-color: #f8fafc;
  /* Slate-50 */
  color: #0f172a;
  /* Slate-900 */
}

html {
  scroll-behavior: smooth;
}

::selection {
  background-color: #f59e0b;
  /* Amber-500 */
  color: white;
}

body {
  /* Light Premium Mesh Gradient */
  background-image:
    radial-gradient(at 0% 0%, rgba(59, 130, 246, 0.08) 0px, transparent 50%),
    /* Blue-500 */
    radial-gradient(at 100% 0%, rgba(147, 51, 234, 0.08) 0px, transparent 50%),
    /* Purple-600 */
    radial-gradient(at 100% 100%, rgba(245, 158, 11, 0.08) 0px, transparent 50%),
    /* Amber-500 */
    radial-gradient(at 0% 100%, rgba(248, 250, 252, 1) 0px, transparent 50%);
  /* Slate-50 */
  background-attachment: fixed;
}


/* Cross Line Animation */
@keyframes cross-line {
  0% {
    transform: translateX(-200%) skewX(-20deg);
  }

  99% {
    transform: translateX(300%) skewX(-20deg);
  }

  100% {
    transform: translateX(-200%) skewX(-20deg);
    opacity: 0;
  }
}

.animate-cross-line {
  position: absolute;
  top: 0;
  left: 0;
  width: 40%;
  height: 100%;
  background: linear-gradient(to right,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 1) 50%,
      rgba(255, 255, 255, 0) 100%);
  transform: skewX(-20deg);
  animation: cross-line 1.5s linear infinite;
  opacity: 0.8;
}