@import "tailwindcss";

:root {
  font-family: 'Satoshi', sans-serif;
  background-color: #020617;
  /* Slate-950 */
  color: #f8fafc;
  /* Slate-50 */
}

html {
  scroll-behavior: smooth;
}

::selection {
  background-color: #d97706;
  /* Amber-600 */
  color: white;
}

body {
  /* Deep Dark Mesh Gradient */
  background-image:
    radial-gradient(at 0% 0%, rgba(30, 64, 175, 0.15) 0px, transparent 50%),
    /* Blue-800 */
    radial-gradient(at 100% 0%, rgba(88, 28, 135, 0.15) 0px, transparent 50%),
    /* Purple-900 */
    radial-gradient(at 100% 100%, rgba(124, 45, 18, 0.1) 0px, transparent 50%),
    /* Orange-900 */
    radial-gradient(at 0% 100%, rgba(15, 23, 42, 1) 0px, transparent 50%);
  /* Slate-900 */
  background-attachment: fixed;
}


/* Cross Line Animation */
@keyframes cross-line {
  0% {
    transform: translateX(-200%) skewX(-20deg);
  }

  99% {
    transform: translateX(300%) skewX(-20deg);
  }

  100% {
    transform: translateX(-200%) skewX(-20deg);
    opacity: 0;
  }
}

.animate-cross-line {
  position: absolute;
  top: 0;
  left: 0;
  width: 40%;
  height: 100%;
  background: linear-gradient(to right,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 1) 50%,
      rgba(255, 255, 255, 0) 100%);
  transform: skewX(-20deg);
  animation: cross-line 1.5s linear infinite;
  opacity: 0.8;
}