@import "tailwindcss";

:root {
  font-family: 'Satoshi', sans-serif;
  background-color: #f8fafc;
  /* Slate-50 */
  color: #0f172a;
  /* Slate-900 */
}

html {
  scroll-behavior: smooth;
}

::selection {
  background-color: #0f172a;
  /* Slate-900 */
  color: white;
}

body {
  background-color: #ffffff;
  /* White */
  background-image: none;
}


/* Cross Line Animation */
@keyframes cross-line {
  0% {
    transform: translateX(-200%) skewX(-20deg);
  }

  99% {
    transform: translateX(300%) skewX(-20deg);
  }

  100% {
    transform: translateX(-200%) skewX(-20deg);
    opacity: 0;
  }
}

.animate-cross-line {
  position: absolute;
  top: 0;
  left: 0;
  width: 40%;
  height: 100%;
  background: linear-gradient(to right,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 1) 50%,
      rgba(255, 255, 255, 0) 100%);
  transform: skewX(-20deg);
  animation: cross-line 1.5s linear infinite;
  opacity: 0.8;
}